/*=========================== Bookstore ==================================*/

.UIBookstorePortlet .UIBookSearchForm {
  line-height : 34px;
  padding     : 0px 13px 0px 0px; /* orientation=lt */
  width       : 450px;
  float       : right;
  height      : 60px;
}

.UIBookstorePortlet .UISearchForm .UISearchLabel {
  float       : right; /* orientation=lt */
  line-height : 20px;
  margin      : 5px 0px;
  color       : #555;
}

.UIBookstorePortlet .UIBookSearchForm .Input {
  background  : url('../background/SearchBG.gif') repeat-x left top;
  border      : 1px solid #c3c3c3;
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  margin      : 4px 0px 0px 10px;
  padding     : 0px 5px;
  height      : 22px;
  width       : 165px;
}

.UIBookstorePortlet .UIBookSearchForm input {
  width       : 140px;
  background  : transparent;
  border      : none;
  padding     : 0;
  vertical-align: top;
  height      : 22px;
  margin-left : 20px;
}

.UIBookstorePortlet .UIBookSearchForm .message {
  width       : 200px;
  background  : #FFB800;
  border      : 1px solid #c3c3c3;
  padding     : 0;
  vertical-align: top;
  height      : 22px;
  margin-left : 10px;
  font-style  : italic;
  font-size   : 11px;
  color       : white;
  border-radius: 5px;
  padding-bottom: 2px;
}

.UIBookstorePortlet .UIBookAddForm .message {
  width       : 250px;
  background  : #FFB800;
  border      : 1px solid #c3c3c3;
  padding     : 0;
  vertical-align: top;
  height      : 22px;
  margin-left : 60px;
  font-style  : italic;
  font-size   : 11px;
  color       : white;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top : 5px;
  padding-right: 5px;
}

.UIBookstorePortlet .UIAuthorAddForm .message {
  width       : 220px;
  background  : #FFB800;
  border      : 1px solid #c3c3c3;
  padding     : 0;
  vertical-align: top;
  height      : 22px;
  margin-left : 80px;
  font-style  : italic;
  font-size   : 11px;
  color       : white;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top : 5px;
  padding-right: 5px;
}

.UIBookstorePortlet .UIBookSearchForm .SearchIcon {
  /*background: url('../skinIcons/icons/CalendarIcons.gif') no-repeat right -1117px;*/
  height: 22px;
  padding-right: 20px;
  width: auto;
}

.UIBookstorePortlet .UIBookSearchForm p {
  width       : 100px;
  height      : 25px;
  position :relative;
  bottom: 10px;
}

.UIBookActionBar .UIAction {
  width : 150px;
  position: relative;
  top: 40px;
}

.UIBookActionBar .UIAction .LightBlueStyle {
  padding-left: 30px;
  background: url('/bookstore/skin/DefaultSkin/webui/skinIcons/icons/CalendarIcons.gif') no-repeat left -21px;
  line-height: 25px;
}

.UIBookAddManager .authorsOptions {
  margin-left: 55px;
}